@import "tailwindcss";



 
@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
  }

}
@theme {
   --color-lbgreen: #00B1C4;
   --color-lbtext: #29235C;
   --color-lbblue: #DFE9F2;
    --color-lbgray: #EDECEC;
}


